<h3>Users:</h3>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Date</th>
      <th>Barber</th>
      <th>Color</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |row| %>
      <tr>
        <th scope="row"><%= row['id'] %></th>
        <td><%= row['Name'] %></td>
        <td><%= row['Phone'] %></td>
        <td><%= row['DateStamp'] %></td>
        <td><%= row['Barber'] %></td>
        <td><%= row['Color'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
